body {
  margin: 0;
  padding: 0
  font-family: 'Times New Roman', Times, serif;
  background: url('back.jfif');
  background-size: cover;
  hight:100vh;
  overflow: hidden;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.grid-container > div {
  font-size: 40px;
}


.navbar {
  grid-column: 1 / 11;
  padding: 20px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


#logo {
  font-size: 60px;
  margin-top: -50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu-bar {
  font-size: 60px;
  cursor: pointer;
  display: none; 
}


.nav-links {
  list-style: none;
  margin-top: -3px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-links li a {
  font-size: 60px;
  text-decoration: none;
   color: black;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}


.image-section {
  grid-column: 1 / 5;
  text-align: center;
}

.image-section img {
  width: 320px;
  height: auto;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: -200px;
}


.text-section {
  grid-column: 5 / 11;
  display: grid;
  place-content: center;
  margin-left: -620px;
}

.text-section ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: -200px;
 
}

.text-section li:nth-child(1) {
  font-size: 50px;
  text-align: center;
  margin-left: 700px;
  font-weight: bold;
  margin-top: -5vh;
}

.text-section li:nth-child(2) {
  font-size: 40px;
   margin-left: 700px;
  text-align: center;
  margin-top: 20px;
}

.text-section li:nth-child(3) {
  font-size: 50px;
   margin-left: 700px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Footer */
.footer {
  grid-column: 1 / 11;
  height: 10vh;
}
        
@media screen and (max-width: 1300px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 40px;
        }

        #logo {
            
            font-size: 40px;
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 200px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 100px;

        li:nth-child(1) {
            font-size: 30px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 30px;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(3) {
            font-size: 30px;
            text-align: center;
            margin-left: -100px;
        }

         li:nth-child(4) {
            font-size: 30px;
            text-align: center;
            margin-left: -100px;
            margin-top: 20vh;
        }
        
        
    }
}

@media screen and (max-width: 1050px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 35px;
        }

        #logo {
            
            font-size: 35px;
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 200px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       margin-left: 200px;

        li:nth-child(1) {
            font-size: 30px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 30px;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(3) {
            font-size: 30px;
            text-align: center;
            margin-left: -100px;
        }

        
        
    }
}

@media (max-width: 900px) {
  .menu-bar {
    display: block; 
  }

  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: -20px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav-links.show {
    display: flex; 
  }

  .nav-links li a {
    font-size: 35px;
  }

 
  .image-section {
    grid-column: 1 / 11;
    text-align: center;
    margin: 0;
  }

  .image-section img {
    margin-left: -50px;
  }

  .text-section {
    grid-column: 1 / 11;
    margin: 200;
    text-align: center;
    margin-top: 5vh;
    margin-left: 250px;
  }

  .text-section li {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 30px;
        }

        #logo {
            
            font-size: 30px;
            
            
        }
    }

    .image-section {
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 200px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

    .text-section {
        grid-column: 1/11;
       
       

        li:nth-child(1) {
            font-size: 20px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 20px;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(3) {
            font-size: 20px;
            text-align: center;
            margin-left: -100px;
        }

        
        
    }
}

@media screen and (max-width: 700px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 30px;
        }

        #logo {
            
            font-size: 30px;
            
            
        }
    }

    .image-section {
        
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 150px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        
    }

     img {
            /* border-radius: 10px; */
            width: 200px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -80px;
        }

    .text-section {
        grid-column: 1/11;
       
       

        li:nth-child(1) {
            font-size: 20px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 20px;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(3) {
            font-size: 20px;
            text-align: center;
            margin-left: -100px;
        }    
    }
}
}


@media screen and (max-width: 600px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 20px;
        }

        #logo {
            
            font-size: 20px;
            
            
        }
    }

    .image-section {
        
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 200px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

     img {
            /* border-radius: 10px; */
            width: 200px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -80px;
        }

    .text-section {
        grid-column: 1/11;
       
       

        li:nth-child(1) {
            font-size: 20px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 20px;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(3) {
            font-size: 20px;
            text-align: center;
            margin-left: -100px;
        }

        
        
    }
}

@media screen and (max-width: 500px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 15px;
        }

        #logo {
            
            font-size: 15px;
            
            
        }
    }

    .image-section {
        
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 150px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

     

    .text-section {
        grid-column: 1/11;
       
       

        li:nth-child(1) {
            font-size: 15px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 15px;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(3) {
            font-size: 15px;
            text-align: center;
            margin-left: -100px;
        }

        
        
    }
}


@media screen and (max-width: 400px) {


    .navbar {
        
        

        ul li a {
         float: right;    
        margin-top: 0vh;
        font-size: 10px;
        }

        #logo {
            
            font-size: 10px;
            
            
        }
    }

    .image-section {
        
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 150px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -70px;
        }
    }

     

    .text-section {
        grid-column: 1/11;
       
       

        li:nth-child(1) {
            font-size: 15px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 15px;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(3) {
            font-size: 15px;
            text-align: center;
            margin-left: -100px;
        }

        
        
    }
}

@media screen and (max-width: 300px) {


    .navbar {
        
        margin-left: 10px;

        ul li a {    
        margin-top: 0vh;
        font-size: 5px;
        margin-left: -20px;
        }

        #logo {
            
            font-size: 10px;
            
            
        }
    }

    .image-section {
        
        grid-column: 1/11;
        

        img {
            /* border-radius: 10px; */
            width: 90px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            position: auto;
            text-align: center;
            margin-left: -20px;
        }
    }

     

    .text-section {
        grid-column: 1/11;
       
       

        li:nth-child(1) {
            font-size: 10px;
            margin-top: -5vh;
            text-align: center;
            margin-left: -100px;
        }

        li:nth-child(2) {
            font-size: 10px;
            text-align: center;
            margin-left: -100px;
            margin-top: 2vh;
        }

        li:nth-child(3) {
            font-size: 10px;
            text-align: center;
            margin-left: -100px;
            margin-top: 1vh;
        }

        
        
    }
}


